@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
  }
 
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
  }
 
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
  }
 
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
  }
 
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
  }
}
 
@-moz-keyframes swing {
  20% {
    -moz-transform: rotate3d(0, 0, 1, 15deg);
  }
 
  40% {
    -moz-transform: rotate3d(0, 0, 1, -10deg);
  }
 
  60% {
    -moz-transform: rotate3d(0, 0, 1, 5deg);
  }
 
  80% {
    -moz-transform: rotate3d(0, 0, 1, -5deg);
  }
 
  100% {
    -moz-transform: rotate3d(0, 0, 1, 0deg);
  }
}
 
@-o-keyframes swing {
  20% {
    -o-transform: rotate3d(0, 0, 1, 15deg);
  }
 
  40% {
    -o-transform: rotate3d(0, 0, 1, -10deg);
  }
 
  60% {
    -o-transform: rotate3d(0, 0, 1, 5deg);
  }
 
  80% {
    -o-transform: rotate3d(0, 0, 1, -5deg);
  }
 
  100% {
    -o-transform: rotate3d(0, 0, 1, 0deg);
      }
}
 
 
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
 
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
 
  60% {
     transform: rotate3d(0, 0, 1, 5deg);
  }
 
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
 
  100% {
     transform: rotate3d(0, 0, 1, 0deg);
  }
}

.spin {
display:inline-block;
color:transparent;
background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
background-image:-webkit-linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0));
background-image:linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0));
-webkit-animation:islands-spin2 1s infinite linear;
animation:islands-spin2 1s infinite linear;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
width:38px;
height:38px;
line-height:38px;
background-position:0 -104px;
}

.spin:before {
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
content:'';
border:2px solid currentColor;
border-right-color:transparent;
border-bottom-color:transparent;
border-radius:1000px;
}

.spin:after {
visibility:hidden;
content:'\00A0'
}

@-webkit-keyframes islands-spin2{
  from{color:#35a1cb;
  -webkit-transform:rotate(0);
  transform:rotate(0)}to
  {
    color:#35a1cb;
    -webkit-transform:rotate(360deg);transform:rotate(360deg)
  }
}
@keyframes islands-spin2{from{color:#35a1cb;-webkit-transform:rotate(0);transform:rotate(0)}to{color:#35a1cb;-webkit-transform:rotate(360deg);transform:rotate(360deg)}}