#content_file {
padding:1%;
}

#block_file {
width:184px;
height:184px;
text-align:center;
display:inline-block;
border-radius:7px;
vertical-align:top;
}

#block_file:hover {
background:rgba(123, 115, 115, 0.03);
}

#block_file img {
width:70%;
max-height:127px;
object-fit:cover;
}

#block_file p {
margin:0px;
padding:0px;
padding-top:4px;
height:139px;
}

#block_file #title_file {
font-size:1.3em;
}
